@import "../../common/styles/variable";
@import "../../common/styles/mixin";

.slider-group {
  position: relative;
  white-space: nowrap;
  overflow: hidden;

  .slider-item {
    float: left;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;

    a, img {
      width: 100%;
      display: inline-block;
    }

    a {
      text-decoration: none;
      overflow: hidden;
    }
  }
}

